﻿@{
    ViewData["Title"] = "Error";
}


<div class="row">
    <div class="row justify-content-center align-items-center">
        <p class="text-center">Error.</p>
        <img src="https://iili.io/21E0Ise.jpg" alt="Error Stamp" style="max-width: 50%; max-height: 50vh;">
        <p class="text-center">Return to <a asp-controller="Home" asp-action="Index">Homepage</a>.</p>
    </div>
</div>